<ion-view view-title="{{'app' | translate}}" class="form-request">
	<ion-nav-buttons side="right">
		<!--<button class="button button-icon button-clear" ng-click=""></button>-->
	</ion-nav-buttons>

	<ion-content class="padding">
		<h4>Nuova richiesta</h4>
		<button class="button button-block button-dark" ng-click="openPoisModal()">Apri POIs Modal</button>
		<button class="button button-block button-dark" ng-click="openDatePicker()">Apri DatePicker</button>
		<button class="button button-block button-dark" ng-click="openTimePicker()">Apri TimePicker</button>
	</ion-content>
</ion-view>
