<ion-view view-title="{{'app' | translate}}" hide-nav-bar="true" class="login">
	<ion-content class="padding">
		<h4 class="title">{{'app' | translate}}</h4>

		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" ng-maxlength="16" placeholder="{{'cf' | translate}}">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="{{'password' | translate}}">
			</label>
		</div>
		<button class="button button-block button-dark">{{'login' | translate}}</button>
		<a href="">{{'password_lost' | translate}}</a>

		<div class="registration">
			<p>{{'new_account' | translate}}</p>
			<button class="button button-small button-block button-dark">{{'register' | translate}}</button>
		</div>
	</ion-content>
</ion-view>
