<ion-view view-title="{{profile.name}} {{profile.surname}}" class="prof-details">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-class="{'ion-edit': !editing, 'ion-checkmark': editing}" ng-click="toggleEditing()"
      ng-show="isMyProfile&&isOnProfile"></button>
    <button class="button button-icon button-clear ion-plus-round" ng-click="addNewService()" ng-show="isMyProfile&&!isOnProfile"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-calm">
    <!-- INFO -->
    <ion-tab title="{{'prof_info' | translate | uppercase}}" on-select="selectProfile()">
      <ion-pane>
        <ion-content>
          <div class="professional">
            <div class="row">
              <div class="col col-33">
                <div class="profile-image-container" ng-click="uploadImage()">
                  <div class="profile-image-placeholder" ng-if="!profile.imageUrl">
                    <div class="upload"><i class="icon ion-camera"></i></div>
                  </div>
                  <div class="profile-image" ng-if="!!profile.imageUrl">
                    <img ng-src="{{profile.imageUrl}}">
                  </div>
                </div>
              </div>
              <div class="col col-66">
                <ul>
                  <li class="profession">{{professions[profile.type].name}}</li>
                  <li class="zone">{{zones[profile.area].name}}</li>
                </ul>
              </div>
            </div>
            <div class="contacts">
              <!-- Phones -->
              <div class="item item-input" ng-repeat="phone in edit.phoneList">
                <i class="icon ion-android-call"></i>
                <a ng-if="!editing" href="tel:{{phone}}">{{phone}}</a>
                <input ng-if="editing" type="tel" ng-model="edit.phoneList[$index]">
                <button ng-if="editing" class="button button-clear button-assertive button-icon icon ion-close-circled" ng-click="removeItem(edit.phoneList, $index)"></button>
              </div>
              <div class="item item-input" ng-if="editing">
                <i class="icon ion-android-call"></i>
                <input type="tel" ng-model="edit.newItems.phone">
                <button class="button button-clear button-balanced button-icon icon ion-checkmark-circled" ng-click="addItem(edit.phoneList, edit.newItems.phone)"></button>
              </div>
              <!-- Cellphones -->
              <div class="item item-input" ng-repeat="cellPhone in edit.cellPhoneList">
                <i class="icon ion-android-phone-portrait"></i>
                <a ng-if="!editing" href="tel:{{cellPhone}}">{{cellPhone}}</a>
                <input ng-if="editing" type="tel" ng-model="edit.cellPhoneList[$index]">
                <button ng-if="editing" class="button button-clear button-assertive button-icon icon ion-close-circled" ng-click="removeItem(edit.cellPhoneList, $index)"></button>
              </div>
              <!-- PEC -->
              <div class="item item-input">
                <i class="icon ion-email-unread"></i>
                <a href="mailto:{{profile.pec}}">{{profile.pec}}</a>
              </div>
              <!-- Emails -->
              <div class="item item-input" ng-repeat="mail in edit.mailList">
                <i class="icon ion-email"></i>
                <a ng-if="!editing" href="mailto:{{mail}}">{{mail}}</a>
                <input ng-if="editing" type="email" ng-model="edit.mailList[$index]">
                <button ng-if="editing" class="button button-clear button-assertive button-icon icon ion-close-circled" ng-click="removeItem(edit.mailList, $index)"></button>
              </div>
              <!-- Fax -->
              <div class="item item-input" ng-repeat="fax in edit.faxList">
                <i class="icon ion-printer"></i>
                <a ng-if="!editing" href="tel:{{fax}}">{{fax}}</a>
                <input ng-if="editing" type="tel" ng-model="edit.faxList[$index]">
                <button ng-if="editing" class="button button-clear button-assertive button-icon icon ion-close-circled" ng-click="removeItem(edit.faxList, $index)"></button>
              </div>
            </div>
            <!--
            <div class="description">
              <div class="description_label">{{'prof_descrizione_label' | translate}}</div>
              <div class="description_text" ng-if="!editing">{{profile.description}}</div>
            </div>
            -->
            <div class="competences">
              <div class="title">{{'prof_competences_label' | translate}}</div>
              <div class="item item-input-inset" ng-if="editing">
                <input type="text" ng-model="edit.newItems.competence" placeholder="inserisci la tua competenza">
                <button class="button button-clear button-balanced button-icon icon ion-checkmark-circled" ng-disabled="!edit.newItems.competence"
                  ng-click="addCompetence()"></button>
              </div>
              <div class="competences-tags">
                <span class="padding-horizontal" ng-if="!editing && (!profile.customProperties.competences || profile.customProperties.competences.length == 0)">-</span>
                <span class="tag" ng-class="{'editing': editing}" ng-repeat="competenza in profile.customProperties.competences">
                  {{competenza}}
                  <button class="button button-small button-clear button-positive icon ion-close-circled" ng-if="editing" ng-click="deleteCompetence($index)"></button>
                </span>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
    <!-- SERVICES -->
    <ion-tab title="{{'prof_services' | translate|uppercase}}" on-select="selectServices()">
      <ion-pane>
        <ion-content>
          <!--
          <ion-list>
            <div ng-repeat="service in services">
              <ion-item class="item-stable" ng-click="toggleService(service)" ng-class="{active: isServiceShown(service)}">
                <i class="icon" ng-class="isServiceShown(service) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{service.name}}
              </ion-item>
              <ion-item class="item-accordion" ng-show="isServiceShown(service)">
                {{service.note}}
              </ion-item>
            </div>
          </ion-list>
          -->
          <ion-list class="list-accordion">
            <div class="item-accordion" ng-repeat="service in services">
              <ion-item class="item-accordion-header item-icon-right" ng-click="toggleService(service)">
                <div>{{service.serviceType}}</div>
                <!--<i class="icon" ng-class="{'ion-arrow-down-b': !isActiveItem(entry), 'ion-arrow-up-b': isActiveItem(entry)}"></i>-->
                <i class="icon ion-arrow-down-b" ng-class="{'open': isServiceShown(service)}"></i>
              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isServiceShown(service)">
                <i class="icon ion-ios-location"></i>
                <div ng-if="!editMode"> {{service.address}}</div>
                <!--                <input type="text" ng-if="editMode" ng-model="service.address" placeholder="Indirizzo" autofocus>-->
                <placeautocomplete ng-if="refresh" ng-model="service.address" attr-placeholder="{{'service_address_placeholder' | translate}}"
                  click-activation="false" data="placesfrom" on-type="typePlace" placeholder="{{'service_address_placeholder' | translate}}"
                  on-select="changeStringFrom" ng-blur="setNameParam"></placeautocomplete>
                <a class="button-icon plan-viaggia-fromto  icon ion-map" ng-click="openMapPlan('from')"></a>
              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isServiceShown(service)">
                <i class="icon ion-android-locate"></i>
                <div ng-if="!editMode"> {{service.area}}</div>
                <input type="text" ng-if="editMode" ng-model="service.area" placeholder="{{'service_zone_placeholder' | translate}}" autofocus>
              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isServiceShown(service)">
                <i class="icon ion-ios-information"></i>
                <div ng-if="!editMode"> {{service.note}}</div>
                <input type="text" ng-if="editMode" ng-model="service.note" placeholder="{{'service_note_placeholder' | translate}}" autofocus>
              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isServiceShown(service)">
                <button ng-click="cancel()">Annulla</button>
                <button ng-click="saveService(service)">Salva</button>
              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
