<ion-view view-title="{{profile.name}} {{profile.surname}}" class="prof-details">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-click="(isMyProfile && selectedTab === 'profile') ? toggleEditingProfile() : openNewServiceModal()"
      ng-class="{'ion-edit': (!editingProfile && isMyProfile && selectedTab === 'profile'), 'ion-checkmark': (editingProfile && isMyProfile && selectedTab === 'profile'), 'ion-plus': (isMyProfile && selectedTab === 'services')}">
    </button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-calm">
    <!-- ng-class="{'tabs-item-hide': !logged || !isMyProfile}" -->
    <!-- INFO -->
    <ion-tab title="{{'prof_info' | translate | uppercase}}" on-select="selectTab('profile')">
      <ion-pane>
        <div ng-include="'templates/include_professional.html'" onload="init()"></div>
      </ion-pane>
    </ion-tab>
    <!-- SERVICES -->
    <ion-tab title="{{'prof_services' | translate | uppercase}}" on-select="selectTab('services')" ng-if="logged">
      <!-- ng-if="logged && isMyProfile" -->
      <ion-pane>
        <ion-content class="prof-services">
          <!--
          <ion-list>
            <div ng-repeat="service in services">
              <ion-item class="item-stable" ng-click="toggleService(service)" ng-class="{active: isServiceShown(service)}">
                <i class="icon" ng-class="isServiceShown(service) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{service.name}}
              </ion-item>
              <ion-item class="item-accordion" ng-show="isServiceShown(service)">
                {{service.note}}
              </ion-item>
            </div>
          </ion-list>
          -->
          <ion-list class="list-accordion" type="list-inset">
            <!-- New service-->
            <div class="item-accordion" ng-if="addingNewService">
              <ion-item class="item-accordion-header item-icon-right">
                <div class="title">{{getServiceNameByID(newService.serviceType)}}</div>
                <!--<i class="icon" ng-class="{'ion-chevron-down': !isExpandedService(service.objectId), 'ion-chevron-up': isExpandedService(service.objectId)}"></i>-->
              </ion-item>
              <ion-item class="item-accordion-content">
                <div class="item item-icon-left item-icon-right" ng-if="newService.serviceType !== 'sostituzioneudienza'">
                  <i class="icon ion-ios-location"></i>
                  <placeautocomplete ng-model="newService.address" attr-placeholder="{{'service_address_placeholder' | translate}}" click-activation="false"
                    data="places" on-type="typePlace" placeholder="{{'service_address_placeholder' | translate}}" on-select="selectServiceAddress"></placeautocomplete>
                  <i class="icon ion-map" ng-click="openMap('service')"></i>
                </div>
                <div class="item item-icon-left" ng-if="newService.serviceType === 'sostituzioneudienza'">
                  <i class="icon ion-ios-location"></i>
                  <div class="item item-input item-input-select" ng-click="openSelectOfficePopup()">
                    <!--
                    <div class="input-label" ng-class="{'placeholder': !selectedOffice}">
                      <span class="name">{{selectedOffice ? selectedOffice.name : ('office_placeholder' | translate)}}</span>
                      <span class="address" ng-if="selectedOffice"><br/>{{selectedOffice.address}}</span>
                    </div>
                    <select ng-model="selectedOffice" ng-required="true"></select>
                    -->
                    <input type="text" readonly ng-model="selectedOffice.name" placeholder="{{'office_placeholder' | translate}}" ng-required="true">
                    <a class="button button-small button-icon ion-arrow-down-b"></a>
                  </div>
                </div>
                <div class="item item-icon-left">
                  <i class="icon ion-information-circled"></i>
                  <input type="text" ng-model="newService.note" placeholder="{{'service_note_placeholder' | translate}}">
                </div>
                <div class="item-accordion-footer">
                  <button class="button button-clear button-small button-positive" ng-click="cancelModify('new')">{{'cancel' | translate}}</button>
                  <button class="button button-clear button-small button-assertive" ng-click="saveService(newService)" ng-disabled="!newService.address || !newService.coordinates">{{'save' | translate}}</button>
                </div>
              </ion-item>
            </div>
            <!-- Services list -->
            <div class="item-accordion" ng-repeat="service in services" ng-click="toggleService(service.objectId)">
              <ion-item class="item-accordion-header item-icon-right" ng-click="toggleService(service)">
                <div class="title">{{getServiceNameByID(service.serviceType)}}</div>
                <!--<i class="icon" ng-class="{'ion-chevron-down': !isExpandedService(service.objectId), 'ion-chevron-up': isExpandedService(service.objectId)}"></i>-->
                <i class="icon ion-chevron-down" ng-class="{'open': isExpandedService(service.objectId)}"></i>
              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isExpandedService(service.objectId)">
                <div class="item item-icon-left">
                  <i class="icon ion-ios-location"></i>
                  <div ng-if="!editingServices"> {{service.address}}</div>
                  <!--<input type="text" ng-if="editingServices" ng-model="service.address" placeholder="Indirizzo" autofocus>-->
                  <!--<placeautocomplete ng-if="editingServices" ng-model="newService.address" attr-placeholder="{{'service_address_placeholder' | translate}}"
                    click-activation="false" data="places" on-type="typePlace" placeholder="{{'service_address_placeholder' | translate}}"
                    on-select="changeStringFrom" ng-blur="setNameParam"></placeautocomplete>
                  <a class="button-icon plan-viaggia-fromto  icon ion-map" ng-if="editingServices" ng-click="openMapPlan('from')"></a>-->
                </div>
                <div class="item item-icon-left" ng-if="service.note">
                  <i class="icon ion-information-circled"></i>
                  <div ng-if="!editingServices">{{service.note}}</div>
                  <!--<input type="text" ng-if="editingServices" ng-model="newService.note" placeholder="{{'service_note_placeholder' | translate}}"
                      autofocus>-->
                </div>
                <div class="item item-accordion-content item-accordion-footer" ng-if="isMyProfile && editingServices">
                  <button class="button" ng-click="cancelModify('edit')">{{'cancel' | translate}}</button>
                  <button class="button" ng-click="saveService()">{{'save' | translate}}</button>
                </div>
                <div class="item item-accordion-content item-accordion-footer" ng-if="isMyProfile && !editingServices">
                  <button class="button button-small button-clear button-assertive" ng-click="deleteService(service)">{{'delete' | translate}}</button>
                  <!--<button class="button" ng-click="modifyService(service)">{{'modify' | translate}}</button>-->
                </div>
                <div class="item item-accordion-content item-accordion-footer" ng-if="!isMyProfile">
                  <button class="button button-small button-clear button-assertive" ng-click="openServiceDetails(service)">{{'view_details' | translate}}</button>
                </div>
              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
