<ion-view view-title="{{prof.name}} {{prof.surname}}" class="prof-details">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ng-class="{'ion-edit': !editing, 'ion-checkmark': editing}" ng-click="toggleEditing()" ng-show="isMyProfile&&isOnProfile"></button>
    <button class="button button-icon button-clear ion-plus-round" ng-click="addNewService()" ng-show="isMyProfile&&!isOnProfile"></button>

  </ion-nav-buttons>

  <ion-tabs class="tabs-calm">
    <!-- INFO -->
    <ion-tab title="{{'prof_info' | translate | uppercase}}" on-select="selectProfile()">
      <ion-pane>
        <ion-content>
          <div class="professional">
            <div class="row">
              <div class="col col-33">
                <div class="profile-image-container" ng-click="uploadImage()">
                  <div class="profile-image-placeholder" ng-if="!prof.imageUrl">
                    <div class="upload"><i class="icon ion-camera"></i></div>
                  </div>
                  <div class="profile-image" ng-if="!!prof.imageUrl">
                    <img ng-src="{{prof.imageUrl}}">
                  </div>
                </div>
              </div>
              <div class="col col-66">
                <ul>
                  <li class="profession">{{professions[prof.type].name}}</li>
                  <li class="zone">{{zones[prof.area].name}}</li>
                </ul>
              </div>
            </div>
            <div class="contacts">
              <ul>
                <li class="phone">
                  <i class="icon ion-android-call"></i>
                  <a href="tel:{{prof.phone}}" ng-if="!editing && prof.phone">{{prof.phone}}</a>
                  <span ng-if="!editing && !prof.phone">-</span>
                  <input type="tel" ng-if="editing" ng-model="prof.phone" placeholder="00112233">
                </li>
                <li class="phone">
                  <i class="icon ion-android-phone-portrait"></i>
                  <a href="tel:{{prof.cellPhone}}" ng-if="!editing && prof.cellPhone">{{prof.cellPhone}}</a>
                  <span ng-if="!editing && !prof.cellPhone">-</span>
                  <input type="tel" ng-if="editing" ng-model="prof.cellPhone" placeholder="+3912345678">
                </li>
                <li class="phone">
                  <i class="icon ion-printer"></i>
                  <a href="tel:{{prof.fax}}" ng-if="!editing && prof.fax">{{prof.fax}}</a>
                  <span ng-if="!editing && !prof.fax">-</span>
                  <input type="tel" ng-if="editing" ng-model="prof.fax" placeholder="00112233">
                </li>
                <li class="email">
                  <i class="icon ion-email"></i>
                  <a ng-href="mailto:{{prof.mail}}" ng-if="!editing && prof.mail">{{prof.mail}}</a>
                  <span ng-if="!editing && !prof.mail">-</span>
                  <input type="email" ng-if="editing" ng-model="prof.mail" placeholder="test@test.it">
                </li>
                <!--
              <li class="phone"><i class="icon ion-android-call"></i>{{profile.description}}</li>
              <li class="phone"><i class="icon ion-android-call"></i>{{profile.competenze}}</li>
              -->
                <!--
              <li class="phone">
                <i class="icon ion-iphone"></i>
                <span ng-if="!editing">{{profile.cellPhone}}</span>
                <input ng-if="editing" type="tel" ng-maxlength="14" ng-model="profile.cellPhone" placeholder="069999999" autofocus>
              </li>
              <li class="email"><i class="icon ion-email"></i>{{profile.mail}}</li>
              <li class="email"><i class="icon ion-email-unread"></i>{{profile.pec}}</li>
              -->
              </ul>
            </div>

            <!--
            <div class="description">
              <div class="description_label">{{'prof_descrizione_label' | translate}}</div>
              <div class="description_text" ng-if="!editing">{{prof.description}}</div>
            </div>
            -->

            <div class="competenze">
              <div class="title">{{'prof_competenze_label' | translate}}</div>
              <ul ng-class="{'editing': editing}">
                <li ng-if="prof.customProperties.competenze" ng-repeat="competenza in prof.customProperties.competenze track by $index">
                  <i class="icon ion-record"></i>
                  <span ng-if="!editing">{{competenza}}</span>
                  <input ng-if="editing" type="text" ng-model="prof.customProperties.competenze[$index]" placeholder="inserisci la tua competenza">
                  <!--prof.customProperties.competenze[$index]-->
                </li>
                <li ng-if="!prof.customProperties.competenze.hasOwnProperty('0')">
                  <!-- Empty -->
                  -
                </li>
                <button class="button button-dark button-clear button-icon icon ion-plus" ng-if="editing" ng-click="addAnotherCompetenza()"></button>
              </ul>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>

    <!-- SERVICES -->
    <ion-tab title="{{'prof_services' | translate|uppercase}}" on-select="selectServices()">
      <ion-pane>
        <ion-content>
          <!--
          <ion-list>
            <div ng-repeat="service in services">
              <ion-item class="item-stable" ng-click="toggleService(service)" ng-class="{active: isServiceShown(service)}">
                <i class="icon" ng-class="isServiceShown(service) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{service.name}}
              </ion-item>
              <ion-item class="item-accordion" ng-show="isServiceShown(service)">
                {{service.note}}
              </ion-item>
            </div>
          </ion-list>
-->
          <ion-list class="list-accordion">
            <div class="item-accordion" ng-repeat="service in services">
              <ion-item class="item-accordion-header item-icon-right" ng-click="toggleService(service)">
                <div>{{getServiceNameByID(service.serviceType)}}</div>
                <!--<i class="icon" ng-class="{'ion-arrow-down-b': !isActiveItem(entry), 'ion-arrow-up-b': isActiveItem(entry)}"></i>-->
                <i class="icon ion-arrow-down-b" ng-class="{'open': isServiceShown(service)}"></i>
              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isServiceShown(service)">
                <i class="icon ion-ios-location"></i>
                <div ng-if="!editMode"> {{service.address}}</div>
                <!--                <input type="text" ng-if="editMode" ng-model="service.address" placeholder="Indirizzo" autofocus>-->
                <placeautocomplete ng-if="refresh" ng-model="service.address" attr-placeholder="{{'service_address_placeholder' | translate}}" click-activation="false" data="places" on-type="typePlace" placeholder="{{'service_address_placeholder' | translate}}" on-select="changeStringFrom" ng-blur="setNameParam"></placeautocomplete>
                <a class="button-icon plan-viaggia-fromto  icon ion-map" ng-click="openMapPlan('from')"></a>
              </ion-item>
              <ion-item class="item-accordion-content" ng-click="openAreaSelection()" ng-show="isServiceShown(service)">
                <i class="icon ion-android-locate"></i>
                <div> {{getAreaNamebuID(service.area)}}</div>
                <!--                <input type="text" ng-if="editMode" ng-model="service.area" placeholder="{{'service_zone_placeholder' | translate}}" autofocus>-->
                <!--
                <select ng-if="editMode" ng-model="service.area">
                  <option ng-repeat="zone in zones track by $index">{{zone.name}}</option>
                </select>
-->
              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isServiceShown(service)">
                <i class="icon ion-ios-information"></i>
                <div ng-if="!editMode"> {{service.note}}</div>
                <input type="text" ng-if="editMode" ng-model="service.note" placeholder="{{'service_note_placeholder' | translate}}" autofocus>

              </ion-item>
              <ion-item class="item-accordion-content" ng-show="isServiceShown(service)">
                <button ng-click="cancel()">Annulla</button>
                <button ng-click="saveService(service)">Salva</button>
              </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
