<ion-view view-title="{{'app' | translate}}" hide-nav-bar="true" class="registration">
  <ion-content>
    <div class="header-title title">{{'app' | translate}}</div>
    <div class="subtitle row">
      <div class="col col-80 col-offset-10">
        {{'register_moreinfo' | translate}}
      </div>
    </div>
    <div class="subsubtitle row">
      <div class="col">
        {{'register_mandatory_fields' | translate}}
      </div>
    </div>
    <div class="form-container">
      <form name="regform1">
        <div class="list list-inset">
          <div class="item item-input">
            <input type="text" ng-model="registration.name" placeholder="{{'name_placeholder' | translate}}" ng-required="true">
          </div>
          <div class="item item-input">
            <input type="text" ng-model="registration.surname" placeholder="{{'surname_placeholder' | translate}}" ng-required="true">
          </div>
          <!--
          <div class="item item-input">
            <input type="text" ng-model="registration.address" placeholder="{{'address_placeholder' | translate}}" ng-required="true">
          </div>
          -->
          <div class="item item-input item-input">
            <placeautocomplete ng-model="registration.address" attr-placeholder="{{'address_placeholder' | translate}}" click-activation="false" data="places" on-type="typePlace" placeholder="{{'service_address_placeholder' | translate}}" on-select="selectAddress"></placeautocomplete>
            <i class="icon ion-map plan-viaggia-fromto" ng-click="openMapPlan('from')"></i>
          </div>
          <div class="item item-input item-input-select" ng-click="openSelectProfessionPopup()">
            <input type="text" readonly ng-model="selectedProfession.name" placeholder="{{'profession_placeholder' | translate}}" ng-required="true">
            <a class="button button-small button-icon icon ion-arrow-down-b"></a>
          </div>
          <div class="item item-input item-input-select" ng-click="openSelectAreaPopup()">
            <input type="text" readonly ng-model="selectedArea.name" placeholder="{{'area_placeholder' | translate}}" ng-required="true">
            <a class="button button-small button-icon icon ion-arrow-down-b"></a>
          </div>
          <div class="cf_piva">
            <div class="item item-input item-input-uppercase">
              <input type="text" ng-model="registration.cf" placeholder="{{'cf_placeholder' | translate}}" ng-required="!registration.piva">
            </div>
            <p>{{'register_or' | translate}}</p>
            <div class="item item-input item-input-uppercase">
              <input type="text" ng-model="registration.piva" placeholder="{{'piva_placeholder' | translate}}" ng-required="!registration.cf">
            </div>
          </div>
          <div class="item item-input">
            <input type="text" ng-model="registration.albo" ng-required="true" placeholder="{{'albo_placeholder' | translate}}">
          </div>
          <ion-checkbox class="checkbox-assertive" ng-model="registration.declaration" ng-required="true">{{'register_declaration' | translate}}</ion-checkbox>
        </div>
        <!--<button class="button button-block button-assertive" ng-click="register()" ng-disabled="!registration.privacy">{{'register' | translate}}</button>-->
        <button class="button button-block button-assertive" ng-click="register()" ng-disabled="regform1.$invalid">{{'register' | translate}}</button>
      </form>
      <div class="bottom">
        <a ng-click="cancel()">{{'cancel' | translate}}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
