<ion-view view-title="{{'app' | translate}}" hide-nav-bar="true" class="registration">
  <ion-content>
    <div class="header-title title">{{'app' | translate}} {{'app_label' | translate}}</div>
    <div class="subtitle row">
      <div class="col col-80 col-offset-10">
        {{'register_new_account' | translate}}
      </div>
    </div>
    <div class="subsubtitle row">
      <div class="col">
        {{'register_mandatory_fields' | translate}}
      </div>
    </div>
    <div class="form-container">
      <form name="regform1">
        <div class="list list-inset">
          <label class="item item-input item-input-cf">
            <input type="email" ng-model="registration.pec" placeholder="{{'pec_placeholder' | translate}}" ng-required="true">
          </label>
          <label class="item item-input item-input-cf">
            <input type="password" id="pw1" name="pw1" ng-model="registration.password" placeholder="{{'password' | translate}}" ng-required="true" />
          </label>
          <label class="item item-input item-input-cf">
            <input type="password" id="pw2" name="pw2" ng-model="pw2" ng-required="true" placeholder="{{'retype-password' | translate}}" pw-check="registration.password" />
          </label>
          <!--
          <label for="pw1">Set a password:</label>
          <input type="password" id="pw1" name="pw1" ng-model="registration.email" ng-required="" />
          <label for="pw2">Confirm the password:</label>
          <input type="password" id="pw2" name="pw2" ng-model="pw2" ng-required="" pw-check="registration.email" />
          -->
          <div class="msg-block" ng-show="regform1.$invalid">
            <span class="error" ng-show="!regform1.pw2.$error.pwmatch && registration.password">PEC required</span>
            <span class="error" ng-show="regform1.pw2.$error.pwmatch">{{'passwords_dont_match' | translate}}</span>
          </div>
        </div>
        <button class="button button-block button-assertive" ng-click="goToStep2()" ng-disabled="!registration.pec || regform1.$invalid">{{'registration2_button_label' | translate}}</button>
      </form>
      <div class="bottom">
        <a ng-click="cancel()">{{'cancel' | translate}}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
