<ion-view view-title="{{isToMe() ? 'request_detail_tome' : 'request_detail_mine' | translate}}" class="request details">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="padding">
      <div class="card professional" ng-click="openProfessionalDetails(professional)">
        <div class="item item-thumbnail-left">
          <img ng-src="{{professional.imageUrl}}">
          <p>{{isToMe() ? 'request_detail_by' : 'request_detail_to' | translate}}</p>
          <h2 class="name">{{professional.name}} {{professional.surname}}</h2>
          <p><a ng-click="openProfessionalDetails(professional)">{{'view_profile' | translate}}</a></p>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-location"></i>
          <span>{{request.address}}</span>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-social-euro"></i>
          <span>{{request.cost ? request.cost : ('cost_free' | translate)}}</span>
        </div>
        <div class="item item-icon-left" ng-if="offer && offer.note">
          <i class="icon ion-information-circled"></i>
          <span>{{offer.note}}</span>
        </div>
      </div>
    </div>
    <div class="datetime" ng-if="request.startTime">
      <div class="title">{{'request_detail_request' | translate}}</div>
      <div>{{'request_detail_date' | translate}} <span class="date">{{request.startTime | date:'longDate'}}</span> {{'request_detail_time'
        | translate}}
        <span class="time">{{request.startTime | date:'shortTime'}}</span>
      </div>
    </div>
    <div class="state">
      <span class="label">{{'request_detail_state' | translate}}:</span> {{'state_long_' + request.state | translate}}
    </div>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-assertive button-block" ng-if="!isToMe() && isFuture()" ng-click="deleteRequest()">{{'delete' | translate}}</button>
    <div class="row" ng-if="isToMe() && isFuture() && request.state === requestState.OPEN">
      <div class="col col-50">
        <button class="button button-calm button-block" ng-click="rejectRequest()">{{'reject' | translate}}</button>
      </div>
      <div class="col col-50">
        <button class="button button-assertive button-block" ng-click="acceptRequest()">{{'accept' | translate}}</button>
      </div>
    </div>
    <button class="button button-assertive button-block" ng-if="isToMe() && isFuture() && request.state === requestState.ACCEPTED"
      ng-click="deleteRequest()">{{'cancel_reservation' | translate}}</button>
  </ion-footer-bar>
</ion-view>
