<ion-view view-title="{{'request_detail' | translate}}" class="request details">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="professional" ng-if="isMine()">
      <div class="row">
        <div class="col col-33">
          <div class="profile-image-container">
            <div class="profile-image">
              <img ng-if="request.professional.imageUrl" ng-src="{{request.professional.imageUrl}}">
            </div>
          </div>
        </div>
        <div class="col col-67">
          <ul>
            <li class="name">{{request.professional.name}} {{request.professional.surname}}</li>
            <li class="toprofile"><a ng-click="openProfessionalDetails(request.professional)">{{'view_profile' | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-location"></i>
          <span>{{request.address}}</span>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-social-euro"></i>
          <span>{{request.cost ? request.cost : ('cost_free' | translate)}}</span>
        </div>
        <div class="item item-icon-left" ng-if="offer && offer.note">
          <i class="icon ion-information-circled"></i>
          <span>{{offer.note}}</span>
        </div>
      </div>
    </div>
    <div class="datetime" ng-if="request.startTime">
      <div class="title">{{'request_detail_request' | translate}}</div>
      <div>{{'request_detail_date' | translate}} <span class="date">{{request.startTime | date:'longDate'}}</span> {{'request_detail_time'
        | translate}}
        <span class="time">{{request.startTime | date:'shortTime'}}</span>
      </div>
    </div>
    <div class="state">
      <span class="label">{{'request_detail_state' | translate}}:</span> {{'state_long_' + request.state | translate}}
    </div>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-assertive button-block" ng-if="isEditable()" ng-click="deleteRequest()">{{'delete' | translate}}</button>
  </ion-footer-bar>
</ion-view>
