<ion-view class="serviceandprofessional" hide-back-button="true">
  <ion-nav-title>{{(searchBar.show ? '' : 'app') | translate}}</ion-nav-title>
  <ion-nav-bar class="bar bar-header bar-calm" ng-class="{'item-input-inset': searchBar.show}">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="searchBar.show"></button>
      <button ng-class="{'ion-android-arrow-back': !isIOS, 'ion-ios-arrow-back': isIOS}" class="button button-icon button-clear"
        ng-show="searchBar.show" ng-click="toggleSearchBar()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div class="item-input-wrapper" ng-if="searchBar.show">
        <input type="search" ng-model="searchBar.searchString" ng-change="searchProfessionals(searchBar.searchString)" placeholder="{{'search_placeholder' | translate}}">
      </div>
      <button class="button button-clear button-icon ion-close" ng-click="clearSearchBar()" ng-show="searchBar.show"></button>
      <button class="button button-clear button-icon ion-search" ng-click="toggleSearchBar()" ng-show="!searchBar.show && (activeTab == 'professionals')"
        ng-disabled="false"></button>
        <!-- not in this phase -->
        <!--<button class="button button-icon button-clear ion-android-funnel" ng-click="orderServices()" ng-hide="professionalTab"></button>-->
        <button class="button button-clear button-icon" ng-class="{'ion-map': viewAsList, 'ion-ios-list-outline': !viewAsList}" ng-click="switchToMap()"
          ng-hide="searchBar.show"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- TABS -->
  <ion-tabs class="tabs-calm" ng-class="{'tabs-item-hide': !logged}">
    <!-- Tabs order inverted due to Ionic bug on tabs with ng-if -->
    <!-- Services tab -->
    <ion-tab title="{{'service_tab' | translate}}" on-select="initServicesTab()" ng-if="logged">
      <ion-pane>
        <ion-content scroll="false">
          <!-- Filters for services -->
          <div class="selected-filters row">
            <!-- services -->
            <div class="col col-50 selected-service" ng-click="openFilter('services')">
              <i class="icon ion-funnel"></i>
              <span ng-if="filters.selectedService">{{'selectedService_label' | translate}}: {{filters.selectedService.name}}</span>
              <span ng-if="!filters.selectedService">{{'allServices_label' | translate}}</span>
            </div>
            <!-- zones -->
            <div class="col col-50 selected-zone" ng-click="openFilter('zones')">
              <i class="icon ion-funnel"></i>
              <span ng-if="filters.selectedZone">{{'selectedZone_label' | translate}}: {{filters.selectedZone.name}}</span>
              <span ng-if="!filters.selectedZone">{{'allZones_label' | translate}}</span>
            </div>
          </div>
          <!-- List view -->
          <div ng-if="viewAsList">
            <ion-scroll ng-style="styles.container" ng-show="servicesList && servicesList.length">
              <ion-refresher on-refresh="reload()">
              </ion-refresher>
              <div class="list results-list services-list">
                <div class="card" ng-repeat="service in servicesList">
                  <a class="item" ng-click="openServiceDetails(service)">
                    <div>
                      <span>{{service.service}}</span>
                    </div>
                    <p>{{service.professional.name}} {{service.professional.surname}}</p>
                    <p class="list-service-cost">{{service.cost}}</p>
                  </a>
                </div>
              </div>
              <ion-infinite-scroll ng-if="!endServices_reached" immediate-check="false" on-infinite="loadMoreServices()" distance="5%">
              </ion-infinite-scroll>
            </ion-scroll>
            <div class="empty" ng-show="servicesList && !servicesList.length ">{{'services_empty' | translate}}</div>
          </div>
          <!-- Map view -->
          <div class="map-visualization" ng-init="refreshMap('servicesMap')" ng-if="!viewAsList">
            <div id="modal-map-container" data-tap-disabled="true">
              <leaflet event-broadcast="events" center="center" markers="servicesMarkers" ng-style="styles.container" ng-init="initServicesTab()"
                id="servicesMap"></leaflet>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
    <!-- Professionals tab -->
    <ion-tab title="{{'prof_tab' | translate}}" on-select="initProfessionalsTab()">
      <ion-pane>
        <ion-content scroll="false" class="has-header">
          <!-- Filter for professionals -->
          <div class="row selected-filters">
            <!-- professions -->
            <div class="col col-50 selected-profession" ng-click="openFilter('professions')">
              <i class="icon ion-funnel"></i>
              <span ng-if="filters.selectedProfession">{{'selectedProfession_label' | translate}}: {{filters.selectedProfession.name}}</span>
              <span ng-if="!filters.selectedProfession">{{'allProfession_label'|translate}}</span>
            </div>
            <!-- zones -->
            <div class="col col-50 selected-zone" ng-click="openFilter('zones')">
              <i class="icon ion-funnel"></i>
              <span ng-if="filters.selectedZone">{{'selectedZone_label' | translate}}: {{filters.selectedZone.name}}</span>
              <span ng-if="!filters.selectedZone">{{'allZones_label' | translate}}</span>
            </div>
          </div>
          <!-- List view -->
          <div ng-if="viewAsList">
            <ion-scroll ng-style="styles.container" ng-show="professionalsList && professionalsList.length">
              <ion-refresher on-refresh="reload()">
              </ion-refresher>
              <div class="list results-list professionals-list">
                <div class="card" ng-repeat="professional in professionalsList">
                  <a class="item item-avatar" ng-click="openProfessionalDetails(professional)">
                    <img ng-src="{{generateImageUrl(professional.imageUrl)}}" ng-class="{'placeholder': !professional.imageUrl}">
                    <div>
                      <span>{{professional.name}}</span> <span>{{professional.surname}}</span>
                    </div>
                    <p>{{professional.profession}}</p>
                  </a>
                </div>
              </div>
              <ion-infinite-scroll ng-if="!endProfessional_reached" immediate-check="false" on-infinite="loadMoreProfessional()" distance="5%">
              </ion-infinite-scroll>
            </ion-scroll>
            <div class="empty" ng-show="professionalsList && !professionalsList.length">{{'professional_empty' | translate}}</div>
          </div>
          <!-- Map view -->
          <div class="map-visualization" ng-init="refreshMap('professionalsMap')" ng-if="!viewAsList">
            <div id="modal-map-container" data-tap-disabled="true">
              <leaflet event-broadcast="events" center="center" markers="professionalMarkers" ng-style="styles.container" ng-init="initProfessionalsTab()"
                id="professionalsMap"></leaflet>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
