<ion-view view-title="{{title}}" class="serviceandprofessional" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item" ng-click="goBack()" ng-hide="!searchBarVisible">
      <i class="icon ion-ios-arrow-back"> </i>
    </button>
    <button ng-if="isIOS" class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="searchBarVisible"></button>
    <button ng-if="!isIOS" style="display: block" class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="searchBarVisible"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="bar bar-header item-input-inset" ng-hide="!searchBarVisible">
      <div class="item-input-wrapper textbox-search home-search">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="searchString" placeholder="{{'search_prof' | translate}}">
        <button class="input-button button button-icon clear-button ion-android-close" ng-click="searchString=''"></button>
      </div>
    </div>
    <button class="button button-icon button-clear ion-search" ng-click="switchSearchBar()" ng-hide="searchBarVisible || !professionalTab"></button>
    <!-- not in this phase -->
    <!--
    <button class="button button-icon button-clear ion-android-funnel" ng-click="orderServices()" ng-hide="professionalTab"></button>
    -->
    <button class="button button-icon button-clear" ng-class="{'ion-map':viewAsList, 'ion-ios-list-outline':!viewAsList}" ng-click="switchToMap()"
      ng-hide="searchBarVisible"></button>
  </ion-nav-buttons>
  <!-- TABS -->
  <ion-tabs class="tabs-calm" ng-class="{'tabs-item-hide': !logged}">
    <!-- Tabs order inverted due to Ionic bug on tabs with ng-if -->
    <!-- Services tab -->
    <ion-tab title="{{'service_tab' | translate}}" on-select="initServicesTab()" ng-if="logged">
      <ion-pane>
        <ion-content scroll="false">
          <!-- Filters for services -->
          <div class="selected-filters row">
            <!-- services -->
            <div class="col col-50 selected-service" ng-click="openFilter('services')">
              <span ng-if="filters.selectedService">{{'selectedService_label' | translate}}: {{filters.selectedService.name}}</span>
              <span ng-if="!filters.selectedService">{{'allServices_label' | translate}}</span>
            </div>
            <!-- zones -->
            <div class="col col-50 selected-zone" ng-click="openFilter('zones')">
              <span ng-if="filters.selectedZone">{{'selectedZone_label' | translate}}: {{filters.selectedZone.name}}</span>
              <span ng-if="!filters.selectedZone">{{'allZones_label' | translate}}</span>
            </div>
          </div>
          <!-- List view -->
          <div ng-if="viewAsList">
            <ion-scroll ng-style="styles.container" ng-show="servicesList && servicesList.length">
              <div class="list results-list services-list">
                <ion-refresher on-refresh="loadServices()">
                </ion-refresher>
                <div class="card" ng-repeat="service in servicesList">
                  <a class="item" ng-click="openServiceDetails(service)">
                    <div>
                      <span>{{service.service}}</span>
                    </div>
                    <p>{{service.professional.name}} {{service.professional.surname}}</p>
                    <p class="list-service-cost">{{service.cost}}</p>
                  </a>
                </div>
              </div>
            </ion-scroll>
            <ion-infinite-scroll ng-if="!endServices_reached" on-infinite="loadMoreServices()" distance="5%">
            </ion-infinite-scroll>
            <div class="empty" ng-show="servicesList && !servicesList.length ">{{'services_empty' | translate}}</div>
          </div>
          <!-- Map view -->
          <div class="map-visualization" ng-if="!viewAsList">
            <div id="modal-map-container" data-tap-disabled="true">
              <leaflet event-broadcast="events" center="center" markers="servicesMarkers" ng-style="styles.container" ng-init="initServicesTab()"
                id="serviceMap"></leaflet>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
    <!-- Professionals tab -->
    <ion-tab title="{{'prof_tab' | translate}}" on-select="initProfessionalsTab()">
      <ion-pane>
        <ion-content scroll="false" class="has-header">
          <!-- Filter for professionals -->
          <div class="row selected-filters">
            <!-- professions -->
            <div class="col col-50 selected-profession" ng-click="openFilter('professions')">
              <span ng-if="filters.selectedProfession">{{'selectedProfession_label' | translate}}: {{filters.selectedProfession.name}}</span>
              <span ng-if="!filters.selectedProfession">{{'allProfession_label'|translate}}</span>
            </div>
            <!-- zones -->
            <div class="col col-50 selected-zone" ng-click="openFilter('zones')">
              <span ng-if="filters.selectedZone">{{'selectedZone_label' | translate}}: {{filters.selectedZone.name}}</span>
              <span ng-if="!filters.selectedZone">{{'allZones_label' | translate}}</span>
            </div>
          </div>
          <!-- List view -->
          <div ng-if="viewAsList">
            <ion-scroll ng-style="styles.container" ng-show="professionalsList && professionalsList.length">
              <div class="list results-list professionals-list">
                <ion-refresher on-refresh="loadProfessional()">
                </ion-refresher>
                <div class="card" ng-repeat="professional in professionalsList">
                  <a class="item item-avatar" ng-click="openProfessionalDetails(professional)">
                    <img ng-src="{{professional.imageUrl}}" ng-class="{'placeholder': !professional.imageUrl}">
                    <div>
                      <span>{{professional.name}}</span> <span>{{professional.surname}}</span>
                    </div>
                    <p>{{professional.profession}}</p>
                  </a>
                </div>
              </div>
            </ion-scroll>
            <ion-infinite-scroll ng-if="!endProfessional_reached" on-infinite="loadMoreProfessional()" distance="5%">
            </ion-infinite-scroll>
            <div class="empty" ng-show="professionalsList && !professionalsList.length">{{'professional_empty' | translate}}</div>
          </div>
          <!-- Map view -->
          <div class="map-visualization" ng-if="!viewAsList">
            <div id="modal-map-container" data-tap-disabled="true">
              <leaflet event-broadcast="events" center="center" markers="professionalMarkers" ng-style="styles.container" ng-init="initProfessionalsTab()"
                id="professionMap"></leaflet>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
