<ion-view view-title="{{'app' | translate}}" hide-nav-bar="true" class="tutorial">
  <ion-content scroll="false">
    <div class="row row-center title">
      <div class="col">
        {{'tutorial_title' | translate}}
      </div>
    </div>
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page>
        <div class="tutorial-content">
          <div class="description">{{'tutorial_s1_1' | translate}}</div>
          <!--<div class="description">{{'tutorial_s1_2' | translate}}</div>-->
          <!--<div class="description">{{'tutorial_s1_3' | translate}}</div>-->
          <img src="http://lorempixel.com/400/250/business" />
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="tutorial-content">
          <div class="description">{{'tutorial_s2' | translate}}</div>
          <img src="http://lorempixel.com/400/251/business" />
        </div>
      </ion-slide-page>
      <!--
      <ion-slide-page>
        <div class="tutorial-content padding">
          <button class="button button-block button-assertive" ng-click="endTutorial()">{{'login_as_pro' | translate}}</button>
          <button class="button button-block button-energized" ui-sref="app.serviceAndProf">{{'enter_no_login' | translate}}</button>
        </div>
      </ion-slide-page>
      -->
    </ion-slides>
    <div class="tutorial-footer">
      <div class="row row-center">
        <div class="col">
          <button class="button button-block button-assertive" ng-click="endTutorial()">{{'login_as_pro' | translate}}</button>
        </div>
      </div>
      <div class="row row-center">
        <div class="col">
          <button class="button button-block button-assertive" ui-sref="app.serviceAndProf">{{'enter_no_login' | translate}}</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
